<!-- Footer Start -->
<div class="container-fluid footer py-5 wow fadeIn" data-wow-delay="0.2s">
    <div class="container py-5">
        <div class="row g-5">
            <!-- Hakkımızda Bölümü -->
            <div class="col-md-12">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4">Hakkımızda</h4>
                    <p class="mb-3">Türkiye’nin ve dünyanın en başarılı araç kiralama portallarından birisi olan
                        RentWissen rent a car internet sayfasına hoş geldiniz. Sadece Türkiye’de değil, aynı zamanda tüm
                        dünyada araç kiralamak için rezervasyon yapabilirsiniz...</p>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <!-- Hızlı Bağlantılar ve Çalışma Saatleri Bölümü -->
            <div class="col-md-6">
                <div class="footer-item d-flex flex-column ">
                    <h4 class="text-white mb-4">Hızlı Bağlantılar</h4>
                    <div class="mb-3">
                        <a href="#" class="text-start"><i class="fas fa-angle-right me-2"></i> Hakkımızda</a>
                        <br>
                        <a href="#" class="text-start"><i class="fas fa-angle-right me-2"></i> Araba Çeşitleri</a>
                        <br>
                        <a href="#" class="text-start"><i class="fas fa-angle-right me-2"></i> Ekibimiz</a>
                        <br>
                        <a href="#" class="text-start"><i class="fas fa-angle-right me-2"></i> Bizimle İletişime
                            Geçin</a>
                        <br>
            
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4">Çalışma Saatleri</h4>
                    <div class="mb-3">
                        <h6 class="text-muted mb-0">
                            <li><strong>Pazartesi - Cuma:</strong> 09.00 - 17.00</li>
                            <br>
                            <li><strong>Cumartesi:</strong> 10.00 - 17.00</li>
                    </div>
                </div>
            </div>
        </div>
        <div class="row g-5">
            <!-- İletişim Bilgileri ve Harita Bölümü -->
            <div class="col-md-6">
                <div class="footer-item d-flex flex-column">
                    <h4 class="text-white mb-4">İletişim Bilgileri</h4>
                    <div class="mb-3">

                        <a href="#" class="text-start"><i class="fa fa-map-marker-alt me-2"></i> Bahçelievler Mahallesi,
                            Eskişehir/Tepebaşı</a>
                        <br>
                        <a href="mailto:oguzfurkankurumlu@gmail.com" class="text-start"><i
                                class="fas fa-envelope me-2"></i> oguzfurkankurumlu@gmail.com</a>
                        <br>
                        <a href="tel:+000000" class="text-start"><i class="fas fa-phone me-2"></i> +000000</a>
                        <br>
                        <a href="tel:+000000" class="text-start"><i class="fas fa-print me-2"></i> +000000</a>
                    </div>

                    <div class="d-flex">

                        <a class="btn btn-secondary btn-md-square rounded-circle me-3" href=""><i
                                class="fab fa-instagram text-white"></i></a>
                        <a class="btn btn-secondary btn-md-square rounded-circle me-0"
                            href="https://www.linkedin.com/in/oguzfurkankurumlu/" target="_blank"><i
                                class="fab fa-linkedin-in text-white"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="rounded">
                    <iframe class="rounded w-100" style="height: 250px;"
                        src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d13294.870345221564!2d30.519!3d39.7755!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x14caa556d57349bf%3A0xdcd43a38f988d820!2sŞef%20Kokoreç%2C%20Eskişehir%2C%20Turkey!5e0!3m2!1sen!2sbd!4v1694270296591!5m2!1sen!2sbd"
                        loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
